Detecting And Classifying Objects In Aerial Imagery.zip
Detecting And Classifying Objects In Aerial Imagery/Train/Imagery data/
coco/coco annotations/
.idea/
data/
**/*/__pycache__
**/*/*.pyc
**/*/~*
**/*/.~*